<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/main.css">
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>

    <div class="site">
      <div class="header">
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <div class="top">
          <div class="header-img">NOT</div>
          <span class="subreddit-name">all</span>
        </div>
      </div>

      {{ content }}

      <div class="footer">
        <div class="content">
          <p>Made lovingly by Andrew, Brandon, Dave, and Drew.</p>
        </div>
      </div>
    </div>
  </body>
</html>
